.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New code */

.main-container {
  /* background: url('./Assets/message1.png');
  background-position: center;
  background-size: cover; */
  /* background: #2541B2; */
  background: #2541b2c0;
  width: 450px;
  border-radius: 10px;
}

.welcome-container{
  font-weight: 700;
}

.chat-container {
  background: url('./Assets/message1.png');

  background-position: center;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  height: 400px;
  overflow: scroll;
  color: #00EAD3;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}